<h2>Login</h2>
<form id="formLogin">
    <label>Correo</label>
    <input type="email" name="email">
    <label>Password</label>
    <input type="password" name="password" >
    <button type="submit"> Login</button>
</form>  
<a href="/auth/github"><button>Ingresar con Github</button></a>
<a href="/register">Registrarse</a>

<script src="/js/login.js"></script>