<h2>Registrarse</h2>
<form id="registerForm">
    <label>Nombre</label>
    <input type="text" name="firstName" >
    <label>Apellido</label>
    <input type="text" name="lastName" >
    <label>Edad</label>
    <input type="number" name="age" >
    <label>Correo Electronico</label>
    <input type="email" name="email" >
    <label>Password</label>
    <input type="password" name="password" >
    <button type="submit">Registrarse</button>
</form>
<a href="/login">Login</a>

<script src="/js/register.js"></script>
