<h2>Reset Password</h2>
<form id="formLogin">
    <label>Correo</label>
    <input type="email" name="email">
    <label>New Password</label>
    <input type="password" name="password" >
    <button type="submit"> Reset</button>
</form> 