<h2>Lista de usuarios</h2>

{{#each users}}
    <h3>Name: {{this.firstName}} {{this.lastName}} </h3>
    <p>Email: {{this.email}}</p>
    <p>Role: {{this.role}}</p>
    <label for="optionSelector">Cambia de rol</label>
        <select id="optionSelector">
            <option value="admin">admin</option>
            <option value="premium">premium</option>
            <option value="user">user</option>
        </select>
        </br>
    <button>Eliminar Usuario</button>
{{/each}}